body {
    background-image: url('https://img3.wallspic.com/previews/2/6/7/6/4/146762/146762-negro-arte-grandes_felinos-leones-rugido-x750.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin-top: 5rem;
}
form {

    padding: 2rem;
    border-radius: 0.5rem;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
}
h2 {
    margin-bottom: 2rem;
}