body {
    background-image: url('https://img1.wallspic.com/crops/8/1/9/8/2/128918/128918-tigre_blanco-los_animales_terrestres-tigre_de_bengala-tigre_siberiano-la_vegetacion-3840x2160.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  